<div class="row animated fadeIn fast " >

    <div class="col-4" >
        <div class="card" >
            <div class="card-body" >
                <h3>Usuarios</h3>

                <div class="alert alert-info animated fadeIn fast"
                     *ngIf="usuarios.length === 0" >
                  <p class="mb-0"> No hay usuarios con ese término </p>
                </div>

                <div class="table-responsive"
                     *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios"
                                class=" animated fadeIn fast " >
                                <td>
                                    <img [src]="usuario.img | imagen:'usuarios'" class="w50" >
                                </td>
                                <td> {{ usuario.nombre }} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="col-4" >
        <div class="card" >
            <div class="card-body" >
                <h3>Rubros</h3>

                <div class="alert alert-info animated fadeIn fast"
                     *ngIf="rubros.length === 0" >
                  <p class="mb-0"> No hay rubros con ese término </p>
                </div>

                <div class="table-responsive"
                     *ngIf="rubros.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rubro of rubros"
                                class=" animated fadeIn fast " >
                                <td>
                                    <img [src]="rubro.img | imagen:'rubros'" class="w50" >
                                </td>
                                <td> {{ rubro.nombre }} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="col-4" >
        <div class="card" >
            <div class="card-body" >
                <h3>Productos</h3>

                <div class="alert alert-info animated fadeIn fast"
                     *ngIf="productos.length === 0" >
                  <p class="mb-0"> No hay productos con ese término </p>
                </div>

                <div class="table-responsive"
                     *ngIf="productos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos"
                                class=" animated fadeIn fast cursor"
                                (click)="abrirProducto(producto)" >
                                <td>
                                    <img [src]="producto.img | imagen:'productos'" class="w50" >
                                </td>
                                <td> {{ producto.nombre }} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-4" >
        <div class="card" >
            <div class="card-body" >
                <h3>Noticias</h3>

                <div class="alert alert-info animated fadeIn fast"
                     *ngIf="noticias.length === 0" >
                  <p class="mb-0"> No hay noticias con ese término </p>
                </div>

                <div class="table-responsive"
                     *ngIf="noticias.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Título</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let noticia of noticias"
                                class=" animated fadeIn fast cursor" >
                                <td>
                                    <img [src]="noticia.img | imagen:'noticias'" class="w50" >
                                </td>
                                <td> {{ noticia.titulo }} </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div> -->

</div> 