<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Nombre">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Asunto">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" checked >
        <label class="form-check-label" for="exampleCheck1">Recibir novedades</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>